fastapi==0.115.6
uvicorn[standard]==0.34.0
jinja2==3.1.5
python-multipart==0.0.20

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu

gensim==4.4.0
jieba==0.42.1

numpy>=2.0.0,<3.0.0