version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ptt-classifier
    ports:
      - "8000:8000"
    volumes:
      - ./app/data:/app/data
    restart: unless-stopped
    environment:
      - TZ=Asia/Taipei
